.board {
  .ant-table thead > tr > th {
    background-color: rgb(230, 230, 230);
  }
  .board-table-row {
    cursor: pointer;
  }
  .ant-table.ant-table-bordered .ant-table-footer {
    border: none;
  }
  .ant-table-footer {
    background: white;
    text-align: right;
  }
  @media (max-width: 575.98px) {
    .ant-table-cell {
      padding: 12px;
    }
  }
}