.board {
  .sub-title {
    margin-top: 2rem;
    text-align: center;
  }
  @media (max-width: 575.98px) {
    .sub-title {
      margin-left: 0;
      margin-right: 0;
      font-size: 12px;
      span {
        display: inline-block;
      }
    }
  }
  .board-item-wrapper {
    cursor: pointer;
    padding: 8px 0;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .board-item {
      width: 100%;
      .board-item-id {
        text-align: center;
      }
      .board-item-title {
        font-size: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .board-item-description {
        font-size: 12px;
        span {
          margin-right: 5px;
        }
      }
      .board-item-edit {
        text-align: center;
        button {
          margin: 3px;
        }
        @media (max-width: 575.98px) {
          button {
            margin: 1px;
          }
        }
      }
    }
  }
  .ant-list-footer {
    text-align: right;
  }
  .write-button-wrapper {
    margin: 1rem;
    text-align: right;
  }
}