.current-situation {
  margin: 3rem auto;
  text-align: center;
  font-size: 20px;
  .count-wrapper {
    display: inline;
    &>span {
      &:first-child {
        margin-right: 10px; 
      }
    }
    @media (max-width: 575.98px) {
      &>span {
        &:first-child {
          display: none;
        }
      }
      .count-number {
        font-size: 28px;
      }
    }
  }
  .count-number {
    display: inline;
    font-size: 26px;
    color: black;
  }
}

@media (max-width: 575.98px) {
  .current-situation {
    margin: 1.5rem auto;
    font-size: 14px;
  }
}

// @media (min-width: 768px) {
//   .current-situation {
//     font-size: 14px;
//     span {
//       display: inline;
//     }
//     .count-number {
//       font-size: 32px;
//     }
//     .mobile-delete {
//       display: inline;
//     }
//     .count-planner {
//       display: inline;
//     }
//   }
// }