.designer-list {
  .new-designer {
    margin: 3.5rem auto;
  }
  .professional-designer {
    margin: 3.5rem auto;
    h1 {
      margin-bottom: 4rem;
    }
  }
  .hot-designer {
    margin: 3.5rem auto;
  }
}