.designer-description {
  margin-bottom: 2rem;
  .description-row {
    .description-col {
      &:nth-child(1) {
        -ms-flex-order: 1;
        order: 1;
      }
      &:nth-child(2) {
        -ms-flex-order: 2;
        order: 2;
      }
      &:nth-child(3) {
        -ms-flex-order: 3;
        order: 3;
      }
      &:nth-child(4) {
        -ms-flex-order: 4;
        order: 4;
      }
    }
    @media (max-width: 575.98px) {
      .description-col {
        &:nth-child(1) {
          -ms-flex-order: 1;
          order: 1;
        }
        &:nth-child(2) {
          -ms-flex-order: 2;
          order: 2;
        }
        &:nth-child(3) {
          -ms-flex-order: 4;
          order: 4;
        }
        &:nth-child(4) {
          -ms-flex-order: 3;
          order: 3;
        }
      }
    }
  }
  .image-wrapper {
    img {
      padding: 10px;
      width: 100%;
    }
  }
  .designer-information {
    table {
      border-collapse: separate;
      border-spacing: 25px;
      .ant-descriptions-item {
        span {
          font-size: 18px;
        }
      }
    }
  }
  .designer-profile {
    padding: 10px;
    min-height: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .self-introduction{
    margin-top: 1.5rem;
    .my-planner-list {
      display: block;
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      .planner-card-wrapper {
        display: inline-block;
        vertical-align: middle;
      }
      .more-card-wrapper {
        display: inline-block;
        vertical-align: middle;
      }
      .ant-card-hoverable:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      }
      .planner-card {
        padding: 5px;
        border-radius: 5px;
        .planner-card-cover {
          width: 100%;
          height: 80px;
          overflow: hidden;
        }
        .ant-card-body {
          padding: 5px;
          position: relative;
          .ant-card-meta-title {
            padding-right: 20px;
          }
          .rate-wrapper {
            .rate-number {
              margin-left: 5px;
            }
          }
          .favorite-wrapper {
            position: absolute;
            background-color: white;
            z-index: 1;
            font-size: 18px;
            top: 0;
            right: 0;
          }
        }
      }
      .premium {
        &::before {
          content: 'P';
          position: absolute;
          background: #fbc518;
          color: white;
          font-weight: bold;
          text-align: center;
          width: 50px;
          height: 25px;
          border-radius: 0 0 25px 25px;
          right: 10%;
        }
      }
      .itp-content {
        cursor: auto;
        z-index: 10;
        display: none;
        img {
          height: 20px;
          width: 20px;
          margin-right: 5px;
        }
        div {
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
        .itp-image-wrapper {
          margin: auto;
          padding: 5px;
        }
      }
      .itp {
        &::before {
          content: 'ITP';
          position: absolute;
          background: linear-gradient( 150deg, rgb(142, 175, 236), rgb(117, 219, 185));
          color: white;
          font-weight: bold;
          text-align: center;
          width: 50px;
          height: 25px;
          border-radius: 0 0 25px 25px;
          right: 10%;
        }
        .planner-title {
          display: none;
        }
        .ant-card-meta-description {
          display: none;
        }
        .itp-content {
          display: block;
        }
      }
      .ant-rate {
        font-size: 18px;
      }
    }
  }
}