.ant-layout,
.ant-layout-header,
.ant-layout-content,
.ant-layout-footer {
  background: white;
  padding: 0;
}

.container {
  margin: auto;
  font-size: medium;
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1152px) {
  .container {
    width: 1080px;
  }
}