.nav-bar {
  .logo {
    float: left;
    display: flexbox;
    margin-left: 40px;
  }
  .main-menu {
    float: right;
    display: flexbox;
    margin-right: 40px;
    .ant-menu-horizontal {
      border: none;
      line-height: 62px;
    }
  }
}

.ant-menu-submenu {
  text-align: center;
}