.new-planner-list {
  margin-top: 4rem;
  .notice-swiper {
    margin: 2rem auto;
  }
  &>.description-card {
    display: none;
  }
  .more-card-wrapper {
    display: none;
    width: 100%;
    text-align: center;
    .more-card {
      margin: auto;
      width: fit-content;
      font-size: 20px;
      border-bottom: 3px solid rgb(160, 160, 160);
      a {
        color: rgb(160, 160, 160);
      }
    }
  }
  .description-card {
    font-family: 'BMDOHYEON';
    margin: 0 auto;
    color: black;
    width: 80%;
    img {
      width: 100%;
    }
    div {
      width: 100%;
      margin: auto;
    }
    .region-text {
      font-size: 48px;
      line-height: 57.6px;
      span {
        text-shadow: 3px 3px black;
        &:first-child {
          color: red;
        }
        &:last-child {
          color: blue;
        }
      }
      &+div {
        font-size: 36px;
      }
    }
    .more-text {
      cursor: pointer;
      margin: 5px auto;
      width: fit-content;
      font-size: 20px;
      border-bottom: 3px solid rgb(160, 160, 160);
      a {
        color: rgb(160, 160, 160);
      }
    }
  }
  .planner-card {
    padding: 5px;
    border-radius: 5px;
    .planner-card-cover {
      width: 100%;
      height: 160px;
      overflow: hidden;
    }
    .ant-card-body {
      .ant-card-meta-title {
        margin-bottom: 2px;
      }
      padding: 5px;
    }
    @media (max-width: 575.98px) {
      .planner-card-cover {
        height: 80px;
      }
      .ant-card-body {
        font-size: 12px;
        .ant-card-meta-title {
          font-size: 14px;
        }
        .ant-card-meta-description {
          font-size: 12px;
        }
      }
    }
  }
  .ant-card-hoverable:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
  .premium {
    &::before {
      content: 'P';
      position: absolute;
      background: #fbc518;
      color: white;
      font-weight: bold;
      text-align: center;
      width: 50px;
      height: 25px;
      border-radius: 0 0 25px 25px;
      right: 10%;
    }
  }
  .itp-content {
    cursor: auto;
    z-index: 10;
    display: none;
    img {
      height: 20px;
      width: 20px;
      margin-right: 5px;
    }
    div {
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    }
    .itp-image-wrapper {
      margin: auto;
      padding: 5px;
    }
  }
  .itp {
    &::before {
      content: 'ITP';
      position: absolute;
      background: linear-gradient( 150deg, rgb(142, 175, 236), rgb(117, 219, 185));
      color: white;
      font-weight: bold;
      text-align: center;
      width: 50px;
      height: 25px;
      border-radius: 0 0 25px 25px;
      right: 10%;
    }
    .planner-title {
      display: none;
    }
    .ant-card-meta-description {
      display: none;
    }
    .itp-content {
      display: block;
    }
  }
  @media (max-width: 575.98px) {
    &>.description-card {
      display: block;
      margin-bottom: 1rem;
    }
    .more-card-wrapper {
      display: block;
    }
    .description-list {
      display: flex;
      display: -webkit-box;
      overflow: auto;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      position: relative;
      max-height: 220px;
      .planner-card-wrapper {
        position: relative;
        display: -webkit-box;
        width: 100%;
        height: 100%;
        display: flex;
        scroll-snap-align: start;
        flex-shrink: 0;
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        margin: 5px;
        align-items: center;
        .planner-card {
          width: 100%;
          height: 100%;
        }
      }
    }
    .description-card-wrapper {
      display: none;
    }
    .description-card {
      width: fit-content;
      div {
        img {
          display: none;
        }
        display: inline-block;
        width: fit-content;
        font-size: 30px;
        div {
          margin-right: 10px;
        }
      }
      .region-text {
        font-size: 44px;
        margin-right: 10px;
      }
      .more-text {
        display: none;
      }
    }
    .ant-rate {
      font-size: 18px;
    }
    .rate-number {
      display: none;
    }
  }
}