.planner-list {
  margin: 2rem auto;
  .planner-card {
    padding: 5px;
    border-radius: 5px;
    .planner-card-cover {
      width: 100%;
      height: 160px;
      overflow: hidden;
    }
    .ant-card-body {
      position: relative;
      padding: 5px;
      .ant-card-meta-title {
        margin-bottom: 2px;
        padding-right: 20px;
      }
      .rate-wrapper {
        .rate-number {
          margin-left: 5px;
        }
      }
      .favorite-wrapper {
        position: absolute;
        background-color: white;
        z-index: 1;
        font-size: 20px;
        top: 0;
        right: 5px;
      }
    }
  }
  .ant-card-hoverable:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
  .premium {
    &::before {
      content: 'P';
      position: absolute;
      background: #fbc518;
      color: white;
      font-weight: bold;
      text-align: center;
      width: 50px;
      height: 25px;
      border-radius: 0 0 25px 25px;
      right: 10%;
    }
  }
  .itp-content {
    cursor: auto;
    z-index: 10;
    display: none;
    img {
      height: 20px;
      width: 20px;
      margin-right: 5px;
    }
    div {
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    }
    .itp-image-wrapper {
      margin: auto;
      padding: 5px;
    }
  }
  .itp {
    &::before {
      content: 'ITP';
      position: absolute;
      background: linear-gradient( 150deg, rgb(142, 175, 236), rgb(117, 219, 185));
      color: white;
      font-weight: bold;
      text-align: center;
      width: 50px;
      height: 25px;
      border-radius: 0 0 25px 25px;
      right: 10%;
    }
    .planner-title {
      display: none;
    }
    .ant-card-meta-description {
      display: none;
    }
    .itp-content {
      display: block;
    }
  }
  @media (max-width: 575.98px) {
    .premium {
      &::before {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        font-size: 16px;
        right: 5%;
        bottom: 5%;
      }
    }
    .itp {
      &::before {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        font-size: 14px;
        right: 5%;
        bottom: 5%;
      }
    }
  }
  .show-more-button {
    margin: 50px auto;
    width: 80px;
    height: 80px;
    background: #fbc518;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: white;
    .text-wrapper {
      padding: 10px 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .planner-list {
    .planner-card{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      .ant-card-cover {
        display: block;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
        .planner-card-cover {
          width: 100%;
          height: 100%;
          max-height: 125px;
        }
      }
      .ant-card-body {
        display: block;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        max-width: 65%;
        .ant-card-meta-description {
          margin-left: 5px;
        }
        .planner-title {
          margin-left: 5px;
        }
        .rate-wrapper {
          margin-left: 5px;
        }
        .count-wrapper {
          margin-left: 5px;
        }
      }
    } 
  }
}