.planner {
  .planner-information {
    margin-bottom: 5rem;
    table {
      border-collapse: separate;
      border-spacing: 25px;
      .ant-descriptions-item {
        .ant-descriptions-item-content {
          color: black;
          font-size: 23px;
          .ant-tag {
            font-size: 23px;
          }
        }
        .ant-descriptions-item-label {
          color: gray;
          font-size: 25px;
          &::after {
            margin-right: 20px;
          }
        }
      }
      @media (max-width: 575.98px) {
        .ant-descriptions-item {
          .ant-descriptions-item-content {
            font-size: 16px;
            .ant-tag {
              font-size: 16px;
            }
          }
          .ant-descriptions-item-label {
            font-size: 18px;
          }
        }
      }
    }
  }
  .planner-content-wrapper {
    width: 80%;
    margin: auto;
    .planner-image {
      text-align: center;
      img {
        width: 80%;
        border-radius: 8px;
      }
    }
    .planner-content {
      width: 80%;
      min-height: 5rem;
      margin: 3rem auto;
    }
  }
}